@use '../abstracts/' as *;

.footer {
    background-color: $primeColor;
    color: $secondColor;
    text-align: center;
    height: 2rem;
    & h3{
        position: relative;
        top:50%;
        transform: translateY(-50%);
    }
}