@use '../abstracts/' as *;

.list__of__playlist {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
    gap: .5rem;

    text-align: center;
    position: relative;
  }
}

.playlistcard__component {
  position: relative;
  &__likebtn, &__fork {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    top:0;
  }
  &__likebtn {
    right: 2rem;
  }
  &__fork {
    right: 5rem;
  }
  &__avatar {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
  }
}