
@use './var' as *;

@mixin cleanBotonStyle {
    isolation: isolate;
    position:relative;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

@mixin linkButtonHover {
    box-shadow: 2px 2px 0 0 $primeColor;
}

@mixin linkDefaultStyle {
        text-decoration: none;
        border-radius: 5px;
        padding: 0.25em;
        @include smoothTransition;
        &:hover {
            @include linkButtonHover;
        }
}

@mixin btn1 {
    background-color: $thirdColor;
    color: $secondColor;
    border-radius: 5px;
    font-weight: 700;
    padding: .25rem;
}

// btn del home__login__or__menu__btn
@mixin btn2 {
    border: 3px solid none;
    background-color: $secondColor;
    color: $primeColor;
    border-radius: 5px;
    font-weight: 700;
    padding: .15rem;
}

@mixin loginBtn {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid $thirdColor;
    border-radius: 10px;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 700;
    min-width: 100%;
    & svg {
        margin-left: .5em;
    }
    &:hover {
        @include linkButtonHover;
    }
}

@mixin smoothTransition {
    transition: all 0.5s ease-in-out;
}

/* 
    MIXINS PARA RESPONSIVENESS
*/
@mixin media-m {
    @media screen and (min-width:768px) {
     @content;   
    }
}
@mixin media-l {
    @media screen and (min-width:1200px) {
     @content;   
    }
}