@use '../abstracts/' as *;

.main__allusers{
    display: block;
    text-align: center;
}

@include media-m {
    .main__allusers {
        .presentation__card__wrapper{
            display: flex;
            flex-direction: row;
            .presentation__card {
                max-width: 500px;
                margin: auto;
            }
        }
    }
}