@use '../abstracts/' as *;

.main__dashboard{
    display: block;
    text-align: center;
    & h4 {
      margin-bottom: .5rem;
    }
}

.dashboard__playlist {
  &__btn{
    @include cleanBotonStyle;
    @include btn1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 6rem;
    right: 2rem;
  }
  &__modal {
    width: 90vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 5vw;
    background-color: darken($color: $secondColor, $amount: 10%);
 
    & form {
      padding: .5rem;
      display: flex;
      flex-direction: column;
      & input, button, textarea {
        margin: .5rem;
        border-radius: 5px;
        padding: .25rem;
      }
      & legend {
        font-weight: 700;
      }
      & button {
        @include btn2;
      }
      & textarea {
        min-height: 5.5em;
      }
      & input[type="file"]{
        display: none;
      }
      & .dashboard__playlist__input__imagen{
        // display: inline-block;
        @include btn1;
        cursor: pointer;
        width: 50%;
        margin: .5rem;
      }
    }
  }
  &__input__submit{
    @include btn1;
  }
}

.dashboard__playlist__modal__wrapper  {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: $thirdColor, $alpha: 0.5);
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
}

.playlistcard, .playlistcard__component {
  position: relative;
  background-color: lighten($color: $secondColor, $amount: 10%);
  border-radius: 10px;
  aspect-ratio: 7/6;
  cursor: pointer;

  background-image: url("https://firebasestorage.googleapis.com/v0/b/twitter-clone-d82aa.appspot.com/o/images%2Fplaylist.png?alt=media&token=3b777418-1843-418c-9a96-5bcbf4fc4df8");
  background-size: cover;
  
  padding-top: 2.75rem;

  display: flex;
  flex-direction: column;
  &__wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px)); 
    gap: 2rem;
  }
  & h3 {
    font-size: larger;
    margin: 0 1rem 1rem 1rem;
    z-index: 1;
  }
  & .playlistcard__footer {
    justify-self: flex-end;
    margin: 1rem 1rem 0 1rem;
    z-index: 1;
  }
  & p {
    aspect-ratio: 11/5;
    padding: 1rem;
    margin: 0 1rem;
    z-index: 1;
  }
}
.playlistcard__footer {
  display: flex;
  & button {
      @include cleanBotonStyle;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
  }
}

.dashboard__video {
  &__btn{
    @include cleanBotonStyle;
    @include btn2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 6rem;
    right: 2rem;
  }
  &__modal {
    width: 90vw;
    height: 50vh;
    position: fixed;
    top: 25vh;
    left: 5vw;
    background-color: darken($color: $secondColor, $amount: 10%);
 
    & form {
      padding: .5rem;
      display: flex;
      flex-direction: column;
      & input, button, textarea {
        margin: .5rem;
        border-radius: 5px;
        padding: .25rem;
      }
      & legend {
        font-weight: 700;
      }
      & button {
        @include btn2;
      }
    }
  }
  &__input__submit{
    @include btn1;
  }
}

.dashboard__video__modal__wrapper  {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: $thirdColor, $alpha: 0.5);
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
}

.videocard {
  background-color: darken($color: $thirdColor, $amount: 0%);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  color: $secondColor;;
  &__wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px)); 
    gap: 2rem;
  }
  & .subir, .bajar, .eliminar {
    @include cleanBotonStyle;
    @include btn2;
    
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    padding: .2rem;
  }
  & .subir {
    top:.5rem;
    right:.5rem;
  }
  & .bajar {
    bottom:.5rem;
    right:.5rem;
  }
  & .eliminar {
    top:.5rem;
    left:.5rem;
  }
  & h4 {
    padding: 0 1rem;
  }
}

.playlist__background__img{
  position: absolute;
  width: 100%;
  max-height: 100%;
  overflow-y: hidden;
  z-index: 0;
  opacity: .1;
  inset: 0;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}