@use '../abstracts/' as *;

.main__dashboard{
    display: block;
    text-align: center;
    & h4 {
      margin-bottom: .5rem;
    }
}

.dashboard__playlist {
  &__btn{
    @include cleanBotonStyle;
    @include btn1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 6rem;
    right: 2rem;
  }
  &__modal {
    width: 90vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 5vw;
    background-color: darken($color: $secondColor, $amount: 10%);
 
    & form {
      padding: .5rem;
      display: flex;
      flex-direction: column;
      & input, button, textarea {
        margin: .5rem;
        border-radius: 5px;
        padding: .25rem;
      }
      & legend {
        font-weight: 700;
      }
      & button {
        @include btn2;
      }
      & textarea {
        min-height: 5.5em;
      }
    }
  }
  &__input__submit{
    @include btn1;
  }
}

.dashboard__playlist__modal__wrapper  {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: $thirdColor, $alpha: 0.5);
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
}

.playlistcard {
  background-color: darken($color: $secondColor, $amount: 10%);
  margin-bottom: .25rem;
  border: 2px solid $thirdColor;
  border-radius: 10px;
 // width: calc(100% - 2rem);
  &__wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
  }
  
}
.playlistcard__footer {
  display: flex;
  & button {
      @include cleanBotonStyle;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
  }
}