@use '../abstracts/' as *;

.home {
    background-color: $secondColor;
    min-height: calc(100vh - 2rem);
    &__paragraph {
        margin: 2rem .5rem;
        padding: .5rem;
        color: $thirdColor;
        text-align: justify;
        font-size: 1.1em;
        font-weight: 500;
        max-width: 1000px;
        position:relative;
        left:50%;
        transform: translateX(-50%);
        & a {
            color: $thirdColor;
            width:24px;
            height:24px;
            @include smoothTransition;
            &:hover, :focus{
                @include linkButtonHover;
            }
            & svg{
                position:relative;
                left:1px;
                top:4px;
            }
        }
    }
    &__login__or__menu__btn{
        position: absolute;
        right: 2rem;
        top: 2.75rem;
        & button {
            @include cleanBotonStyle;
            @include btn2;
        }
    }
}

.header {
    background-color: $thirdColor;
    color: $secondColor;
    padding: 1rem 2rem;
    position: relative;
    width: 100%;
    & h2 {
        text-align: center;
    }
    button{
        @include cleanBotonStyle;
        @include btn2;
        position: absolute;
        right: 2rem;
        bottom: 1rem;
        padding: .25em;
        border-radius: 5px;
        @include smoothTransition;
        &:hover {
            @include linkButtonHover;
        }
    }
}

.grid_home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px,1fr));
    gap:20px;
    padding: 1rem;
}

@include media-m {
    .header {
        max-width: 1000px;
        position:relative;
        left:50%;
        transform: translateX(-50%);
        //box-shadow: -2px 0 0 0 rgba($color: #000000, $alpha: .5);
        & h3, h4{
            text-align: center;
        }
        & button {
            right: 5rem;
        }
    }
    .grid_home{
        max-width: 1000px;
        position:relative;
        left:50%;
        transform: translateX(-50%);
        //box-shadow: 0px 0 10px 0px rgba($color: #000000, $alpha: .5);
        margin-top: 1rem;
    }
}

