@use '../abstracts/' as *;

.login__page {
    min-height: calc(100vh - 2rem);
    
    
    
    &__btns{
        //background-color: lightblue;
        
        margin: auto 0;

        display: flex;
        flex-direction: column;
        min-height: 300px;
        
        & button {
            margin: 1.5rem 0;
            
            @include cleanBotonStyle;

            @include loginBtn;
        }
    }
}
