@use './abstracts/' as *;
@use './pages/' as *;
@use './components/' as *;


main {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 10.75rem); // 4rem de footer y 6.75 de header

    overflow-y: scroll;
}

.spinner {
    width: 90%;
    background: linear-gradient(to right, whithe, lightgray, white);
    background-size: 300%;
    background-position: left;
    animation: loadingEffect 1s infinite ease;
    color: transparent;

}

@keyframes loadingEffect {
    0% {background-position:left;}
    100% {background-position:right}
}