@use './abstracts/' as *;
@use './pages/' as *;
@use './components/' as *;

header {
    background-color: $thirdColor;
    color: $secondColor;;
    padding: 1rem 3rem;
    min-height: 4.75rem;
    text-align: center;
}

main {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6.75rem); // 2rem de footer y 4.5 de header
}
