*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", source-code-pro, Menlo, Monaco, Consolas, monospace;
}

/* 
    MIXINS PARA RESPONSIVENESS
*/
.home__page main {
  justify-content: flex-start;
}

.login__page {
  min-height: calc(100vh - 2rem);
}
.login__page__btns {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}
.login__page__btns button {
  margin: 1.5rem 0;
  isolation: isolate;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid hsl(0deg, 67%, 47%);
  border-radius: 10px;
  padding: 1em;
  font-size: 1.5em;
  font-weight: 700;
  min-width: 100%;
}
.login__page__btns button svg {
  margin-left: 0.5em;
}
.login__page__btns button:hover {
  box-shadow: 2px 2px 0 0 #181818;
}

.main__allusers {
  display: block;
  text-align: center;
}

.user__page main {
  display: block;
  padding: 1rem;
}
.user__page .full__presentation__card {
  display: grid;
  grid-template-rows: 48px 48px 48px;
  grid-template-columns: 48px 48px 2fr;
  place-items: center;
  border: 2px solid hsl(0deg, 67%, 47%);
  padding: 0.25rem;
  border-radius: 5px;
}
.user__page .full__presentation__card a {
  grid-row: 1/3;
  grid-column: 1/3;
}
.user__page .full__presentation__card .full__presentation__card__name {
  grid-row: 1/2;
  grid-column: 3/4;
}
.user__page .full__presentation__card .full__presentation__card__email {
  grid-row: 2/3;
  grid-column: 3/4;
}
.user__page .full__presentation__card .full__presentation__card__following {
  grid-row: 3/4;
  grid-column: 1/2;
}
.user__page .full__presentation__card .full__presentation__card__followers {
  grid-row: 3/4;
  grid-column: 2/3;
}
.user__page .full__presentation__card__followbtn {
  grid-row: 3/4;
  grid-column: 3/4;
  place-self: start;
  margin-left: 1rem;
  isolation: isolate;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  background-color: hsl(0deg, 67%, 47%);
  color: #eeeeee;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.25rem;
}
.user__page .full__presentation__card__followbtn:hover {
  box-shadow: 2px 2px 0 0 #181818;
}

.full__presentation__card__following, .full__presentation__card__followers {
  text-decoration: none;
  color: #181818;
  font-size: 0.67em;
  text-align: center;
}

.full__presentation__card__email, .full__presentation__card__name {
  font-size: 0.9em;
  font-weight: 700;
}

.main__dashboard {
  display: block;
  text-align: center;
}
.main__dashboard h4 {
  margin-bottom: 0.5rem;
}

.dashboard__playlist__btn {
  isolation: isolate;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  background-color: hsl(0deg, 67%, 47%);
  color: #eeeeee;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.25rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 6rem;
  right: 2rem;
}
.dashboard__playlist__modal {
  width: 90vw;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 5vw;
  background-color: #d5d5d5;
}
.dashboard__playlist__modal form {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.dashboard__playlist__modal form input, .dashboard__playlist__modal form button, .dashboard__playlist__modal form textarea {
  margin: 0.5rem;
  border-radius: 5px;
  padding: 0.25rem;
}
.dashboard__playlist__modal form legend {
  font-weight: 700;
}
.dashboard__playlist__modal form button {
  border: 3px solid none;
  background-color: #eeeeee;
  color: #181818;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.15rem;
}
.dashboard__playlist__modal form textarea {
  min-height: 5.5em;
}
.dashboard__playlist__input__submit {
  background-color: hsl(0deg, 67%, 47%);
  color: #eeeeee;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.25rem;
}

.dashboard__playlist__modal__wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 40, 40, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.playlistcard, .playlistcard__component {
  background-color: #d5d5d5;
  border-radius: 10px;
  aspect-ratio: 7/6;
  cursor: pointer;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/twitter-clone-d82aa.appspot.com/o/images%2Fplaylist.png?alt=media&token=3b777418-1843-418c-9a96-5bcbf4fc4df8");
  background-size: cover;
  padding-top: 2.75rem;
  display: flex;
  flex-direction: column;
}
.playlistcard__wrapper, .playlistcard__component__wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 2rem;
}
.playlistcard h3, .playlistcard__component h3 {
  font-size: larger;
  margin: 0 1rem 1rem 1rem;
}
.playlistcard .playlistcard__footer, .playlistcard__component .playlistcard__footer {
  justify-self: flex-end;
  margin: 1rem 1rem 0 1rem;
}
.playlistcard p, .playlistcard__component p {
  aspect-ratio: 11/5;
  padding: 1rem;
  margin: 0 1rem;
}

.playlistcard__footer {
  display: flex;
}
.playlistcard__footer button {
  isolation: isolate;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.dashboard__video__btn {
  isolation: isolate;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  border: 3px solid none;
  background-color: #eeeeee;
  color: #181818;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.15rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 6rem;
  right: 2rem;
}
.dashboard__video__modal {
  width: 90vw;
  height: 50vh;
  position: fixed;
  top: 25vh;
  left: 5vw;
  background-color: #d5d5d5;
}
.dashboard__video__modal form {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.dashboard__video__modal form input, .dashboard__video__modal form button, .dashboard__video__modal form textarea {
  margin: 0.5rem;
  border-radius: 5px;
  padding: 0.25rem;
}
.dashboard__video__modal form legend {
  font-weight: 700;
}
.dashboard__video__modal form button {
  border: 3px solid none;
  background-color: #eeeeee;
  color: #181818;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.15rem;
}
.dashboard__video__input__submit {
  background-color: hsl(0deg, 67%, 47%);
  color: #eeeeee;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.25rem;
}

.dashboard__video__modal__wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 40, 40, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.videocard {
  background-color: #c82828;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  color: #eeeeee;
}
.videocard__wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 2rem;
}
.videocard .subir, .videocard .bajar, .videocard .eliminar {
  isolation: isolate;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  border: 3px solid none;
  background-color: #eeeeee;
  color: #181818;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.15rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.2rem;
}
.videocard .subir {
  top: 0.5rem;
  right: 0.5rem;
}
.videocard .bajar {
  bottom: 0.5rem;
  right: 0.5rem;
}
.videocard .eliminar {
  top: 0.5rem;
  left: 0.5rem;
}
.videocard h4 {
  padding: 0 1rem;
}

/*@forward './notFound';
 */
.list__of__playlist__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 360px));
  gap: 0.5rem;
  text-align: center;
  position: relative;
}

.playlistcard__component {
  position: relative;
}
.playlistcard__component__likebtn, .playlistcard__component__fork {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 0;
}
.playlistcard__component__likebtn {
  right: 2rem;
}
.playlistcard__component__fork {
  right: 5rem;
}
.playlistcard__component__avatar {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
}

.presentation__card {
  background-color: #e1e1e1;
  width: 100%;
  border: 2px solid hsl(0deg, 67%, 47%);
  border-radius: 5px;
  margin-top: 0.25rem;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}
.presentation__card__name {
  grid-column: 2/3;
  grid-row: 1/2;
}
.presentation__card__email {
  grid-column: 2/3;
  grid-row: 2/3;
}
.presentation__card a {
  grid-row: 1/3;
}

.login__logout__btn button {
  isolation: isolate;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  border: 3px solid none;
  background-color: #eeeeee;
  color: #181818;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.15rem;
}

header {
  background-color: hsl(0deg, 67%, 47%);
  color: #eeeeee;
  min-height: 6.75rem;
  display: grid;
  grid-template-columns: 25vw 50vw 20vw;
  align-items: center;
  justify-content: space-evenly;
  place-items: center;
  text-align: center;
}
header h1 {
  grid-column: 2/3;
}
header .login__logout__btn {
  grid-column: 3/4;
}

.avatar {
  border-radius: 50%;
  border: 3px solid #eeeeee;
}

.footer {
  background-color: #bbbbbb;
  color: hsl(0deg, 67%, 47%);
  text-align: center;
  height: 4rem;
}
.footer .createdby {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #eeeeee;
  display: none;
}
.footer__btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.footer__btns a {
  color: hsl(0deg, 67%, 47%);
}
.footer__btns a :hover {
  background-color: #eeeeee;
  padding: 0.25rem;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: #181818;
    color: #eeeeee;
  }
  .footer .createdby {
    display: block;
  }
  .footer__btns {
    display: none;
  }
}
/*@forward './tarjeta_del_curso';*/
main {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10.75rem);
  overflow-y: scroll;
}

.spinner {
  width: 90%;
  background: linear-gradient(to right, white, lightgray, white);
  background-size: 300%;
  background-position: left;
  animation: loadingEffect 2s infinite ease;
  color: transparent;
}

@keyframes loadingEffect {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/*# sourceMappingURL=index.css.map */
